@model BoVoyageP4.Models.Voyage
@using BoVoyageP4.Helpers;

@{
    ViewBag.Title = "Details";
}

<h2>Details du voyage</h2>

<div class="jumbotron">
    <div class="col-sm">
        <div class="row">
            @foreach (var picture in Model.Images)
            {
                <div class="col-xs-6 col-md-3">
                    @Html.VoyageImage(picture)
                </div>
            }
        </div>
    </div>
    <h1 align="center">@Model.AgenceVoyage</h1>
    <h1 align="center">Continent: @Model.Destination.Continent</h1>
    <h1 align="center">Pays: @Model.Destination.Pays</h1>
    <h1 align="center">REGION: @Model.Destination.Region</h1>
    <p align="center">PRIX: @Model.PrixParPersonne €</p>
    <p align="center">DATE DE DEPART: @Model.DateAller</p>
    <p align="center">DATE DE RETOUR: @Model.DateRetour</palign="center">
    <p align="center">
        @Html.Raw(Model.Destination.Description)</palign="center">

        @Html.ActionLink("Reserver", "Reservation/" + @Model.ID, "Reservation", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    <p>@Html.ActionLink("Retour à la liste", "Index")</p>
</div>
